[submodule "tmux-config"]
	path = tmux-config
	url = https://github.com/amar-jay/tmux-config
[submodule "nvim"]
	path = nvim
	url = https://github.com/amar-jay/nvim-config-lua
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
